@mixin css3($property, $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}#{$property}: $value;
  }
}

$to10: (0 1 2 3 4 5 6 7 8 9 10);
$to100: (0 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100);
$to1000: (0 100 150 200 250 300 350 400 450 500 550 600 650 700 750 800 850 900 950 1000);

@each $n in $to10 {
  .w#{$n} {
    width: $n+px
  }
  .h#{$n} {
    height: $n+px
  }
  .mt#{$n} {
    margin-top: $n+px
  }
  .ml#{$n} {
    margin-left: $n+px
  }
  .mb#{$n} {
    margin-bottom: $n+px
  }
  .mr#{$n} {
    margin-right: $n+px
  }
}

@each $n in $to100 {
  .w#{$n} {
    width: $n+px
  }
  .h#{$n} {
    height: $n+px
  }
  .mt#{$n} {
    margin-top: $n+px
  }
  .ml#{$n} {
    margin-left: $n+px
  }
  .mb#{$n} {
    margin-bottom: $n+px
  }
  .mr#{$n} {
    margin-right: $n+px
  }
}

@each $n in $to1000 {
  .w#{$n} {
    width: $n+px
  }
  .h#{$n} {
    height: $n+px
  }
}

.left {
  float: left!important;
}
.right {
  float: right!important;
}

.middle {
  vertical-align: middle!important;
}

.bar {
  display: inline-block;
  width: 100%;
}

.block {
  display: block;
}
.inline-block {
  display: inline-block;
}

.center {
  text-align: center;
}

i.fa {
  color: darkblue;
  font-size: 24px;
}